main{
    background-color: rgb(102, 219, 255);
    width: 100%;
    height: 100vh;
    margin:0;
    display:flex;
    flex-direction: column;
}
.section{
    background-color: aquamarine;
    padding: 25px;
    display: flex;
    justify-content: center;
}
section:nth-child(2){
    background-color: antiquewhite;
    margin-top: 15px;
}
.section__div__ol{
    margin-top: 15px;
    margin-left: 0;
    padding: 0;
    list-style-type: none;
   } 

